@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* #4CA7D0  #AFB3B3 */
/* font timesnewroman 400 16px */
:root {
  --text-color: #afb3b3;
  --white: #ffffff;
  --sec-color: #4ca7d0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--sec-color);
}
body::-webkit-scrollbar-thumb {
  background-color: #000;
}
main {
  display: flex;
}
img {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.column {
  width: 30%;
}

.column__secondary {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.column__secondary > section {
  margin-left: 50px;
}
.column__secondary hr {
  margin-left: 0;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px #000;
  border: 1px solid #fff;
  border-top: 0;
}
a {
  text-decoration: none;
  transition: all 300ms;
  color: #000;
}
a:hover {
  transition: 0.5s;
  color: green;
  cursor: pointer;
  transform: scale(1.5);
}
h2 {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 40px;
}
h5 {
  font-size: 16px;
  font-weight: 400;
}
p {
  max-width: 300px;
  font-weight: 300;
}
span {
  font-weight: 300;
  max-width: 300px;
}

hr {
  margin-top: 65px;
  background-color: var(--sec-color);
  height: 3px;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}

/* header start */

.nav__item:hover {
  transition: 0.5s;
  color: green;
}
.menu {
  position: fixed;
  align-items: center;
  margin: 0 auto;
  display: flex;
  width: 100%;
}
.nav__item {
  color: #4ca7d0;
  font-size: 45px;
  margin: 0 15px;
}
/* header end */

/* title pic start */
.title__pic {
  width: 421px;
  height: 421px;
}

/* title pic end */

/* title text start */

.title {
  display: flex;
  flex-direction: column;
}

.title {
  margin-left: 100px;
  letter-spacing: 3px;
  margin-top: 120px;
}
.title > h1 {
  font-size: 60px;
}
.title > h3 {
  font-size: 25px;
  font-weight: 300;
}
.title > hr {
  background-color: var(--sec-color);
  height: 8px;

  margin-bottom: 126px;
}

/* title text end */

/* About me start */
.about-me {
  margin-left: 20px;
}
.about-me > h2 {
  margin-top: 0px;
}

/* About me end */

/* Education start */
.education h2 {
  margin-top: 0;
}

/* education end */

/* contact start  */
.contacts {
  margin-left: 20px;
}
.contacts__icon {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.contact__text:hover {
  transform: scale(1.01);
}
.contacts__icon_github {
  background-image: url(./img/github-logo.svg);
}
.contacts__icon_mail {
  background-image: url(./img/email.svg);
}
.contacts__icon_telegram {
  background-image: url(./img/telegram.svg);
}
.contacts__icon_map {
  background-image: url(./img/pin.svg);
}
.contact__text {
  margin: 10px 0;
}
.contacts hr {
  margin-top: 76.7px;
  margin-left: 0;
}
/* contact end */

/* languages start */
.languages {
  margin-left: 20px;
}
.language__icon_usa {
  background-image: url(./img/united-states.svg);
}
.language__icon_russia {
  background-image: url(./img/russia.svg);
}
.language__icon_lebanon {
  background-image: url(./img/lebanon.svg);
}
.language__text {
  margin: 10px 0;
}
/* languages end */

/* experience start */
.experience > h5 {
  font-size: 20px;
}

/* experinece end */

/* skills start */
.skills-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.skills__block {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.skills__block > span {
  width: 140px;
}
.skills-list__item {
  width: 10px;
  height: 10px;
  background-color: var(--sec-color);
  border-radius: 50%;
  margin-right: 5px;
  transition: all 0.3s linear;
}
.skills-list__item_gray {
  background-color: #afb3b3;
}

/* skills end */

.footer {
  height: 80px;
  background-color: #afb3b3;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__github {
  background-image: url(./img/github-logo.svg);
  background-size: cover;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer__rs {
  background-image: url(./img/rs_school_js.svg);
  background-size: cover;
  display: block;
  width: 80px;
  height: 30px;
  margin-left: 10px;
}
.footer > span {
  margin-left: 10px;
  font-size: 20px;
}

/* MEDIA  */

@media (max-width: 1055px) {
  .about-me > h2 {
    margin-left: 20px;
  }
  .languages {
    margin-left: 20px;
  }
  .title {
    margin-left: 20px;
  }
  .contacts {
    margin-left: 20px;
  }
  .title__pic {
    width: 321px;
    height: 321px;
  }
  .title__pic::before {
    width: 321px;
    height: 321px;
  }
  .title__pic img {
    width: 100%;
    height: auto;
  }
  .about-me > h2 {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
  p {
    max-width: 100%;
  }
  hr {
    margin-left: -50px;
  }
  .contacts hr {
    margin-left: -50px;
  }
  .column__secondary hr {
    margin-left: -50px;
  }
  pre code.hljs {
    margin-left: -60px;
  }
  .title__pic {
    margin: 0 auto;
    width: 421px;
    height: 421px;
  }
  section.skills {
    margin: 0 auto;
  }
}
